#dis_bolme { 

width:400px;
    max-width: 400px;
    min-width: 400px;
    height:250px;
    max-height: 250px;
    min-height: 250px;

background-color: #F5F5DC;

border-radius:  40px/10px;
overflow: scroll;
}

.ic_bolme{

    float:left;

  width:150px;
    max-width: 150px;
    min-width: 150px;
    height:150px;
    max-height: 150px;
    min-height: 150px;

    border:#CCC solid 1px;

    background-color: #F5F5DC;

    margin-right: 10px;

    margin-left: 4px;

    text-align: center;

    border-radius:  40px/10px;

   padding-top: 20px;
   overflow: scroll;
}

.resim{
	width: 50px;
	height: 50px;
	 border-radius:  40px/10px;
}

.h1{
	margin-left: 50px;
}